venv/
__pycache__/
*.pyc

# ignore all models
models/*

#ignore checkpoints and weights everywhere
*.safetensors
*.bin
*.pt
*.pth
checkpoint-*/

logs/
outputs/
.cache/
.ipynb_checkpoints/

data/raw/
data/processed/

.env