venv/
__pycache__/
*.pyc

# ignore all models
models/*

# allow our trained model
!models/bert-harassment/
!models/bert-harassment/**

logs/
outputs/
.cache/
.ipynb_checkpoints/

data/raw/
data/processed/

.env